.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  margin: 15px auto;
  gap: 8px;
}

.input {
  padding: 10px 8px;
  width: 100%;
}

.btn {
  width: 160px;
  padding: 10px;
  background-color: aquamarine;
  font-size: 25px;
  color: rgb(204, 131, 131);
}

.btn:hover {
  background-color: aqua;
}
